<app-header *ngIf="_router.url !='/cv-generator/preview'"></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer *ngIf="_router.url !='/cv-generator/preview'"></app-footer>

<div id="myModal3" class="modal mbl-popup-main  " onclick="modelOff3Click()" style="z-index: 1111111111111111111;">

    <!-- Modal content -->
    <div class="modal-content " style="height: auto; width: auto;
        padding: 17%; margin-bottom: 0; margin-top: 30%;">
        <h5>Die Website ist noch nicht für Smartphones oder Tablets verfügbar.</h5>
        <h1 style="font-weight: 600 !important;">Öffne die Website mit deinem PC oder Laptop</h1>
    </div>

 
  </div>