<app-header *ngIf="_router.url !='/cv-generator/preview'"></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer *ngIf="_router.url !='/cv-generator/preview'"></app-footer>

<div id="myModal3" class="modal mbl-popup-main  " onclick="modelOff3Click()" style="z-index: 1111111111111111111;">

    <!-- Modal content -->
    <div class="modal-content " style="height: 50vh; width: 110vw;
        padding-top: 30%; margin-bottom: 0;">
        <h5>The website is under development for the mobile and tablet users.</h5>
        <h1 style="font-weight: 600 !important;">Please Try to browse with your PC or Laptop</h1>
    </div>

 
  </div>